{% extends "layout.html" %}

{% block content %}

<h1>Force Directed</h1>
<div class="btn-group">
    <a href="{{ url_for('fdg') }}" class="btn btn-primary active" aria-current="page">Hide Bridge</a>
    <a href="{{ url_for('fdgbridge') }}" class="btn btn-primary">Show Bridge</a>
<div class="container">
    <div class="row">
        <div class="col-9">
            <iframe src="fdgiframe" frameborder="0" scrolling="no" width="960" height="600"></iframe>
        </div>
    </div>
</div>
{{ jc }}
{% endblock %}