{% extends 'layout.html' %} {% block title %} Galaxy {%endblock %} {% block
content %}

    <form id="regForm" method="post">
        <div class="input-group mb-3" id="load_in">
            <span class="input-group-text" id="basic-addon3">Configuration Path</span>
            <input id="path_to_load" name="path_to_load" type="text"  class="form-control" placeholder="path/to/configuration" aria-describedby="basic-addon3">
        </div>
        <button type="submit" class="btn btn-primary" id="loader">Start</button>
    </form>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='index.js') }}"
></script>
{% endblock %}
