{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../force/force.css" type="text/css" />
<script src="../scripts/jquery.js"></script>
<script src="d3js/d3.min.js"></script>
<script src="d3js/d3.geom.min.js"></script>
<script src="d3js/d3.layout.min.js"></script>
<div class="jumbotron">
    {{ test }}
    <table align="left" style="margin-left: 0px">
        <tr>
            <td width="60%">
                <blockquote>
                    <p>
                        NetworkX is a Python package for the creation, manipulation, and
                        study of the structure, dynamics, and functions of complex networks.
                    </p>
                </blockquote>
            </td>
            <td width="40%">
                <div id="chart"></div>
                <script type="text/javascript" src="../static/force/force.js"></script>
            </td>
        </tr>
    </table>
    <h1>Galaxy Network Visualization</h1>
    <p class="lead">GUI application for Galaxy.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
