{% extends "layout.html" %}

{% block content %}


<div class="jumbotron">
    <h1>Galaxy Network Visualization</h1><iframe src="demoiframe" frameborder="0" scrolling="no" width="200" height="200"></iframe>
    <p class="lead">{{ sh1 }}</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Force-Directed</h2>
        <p>
            When using the D3 force layout with a disjoint graph, you typically want the positioning forces (d3.forceX and d3.forceY) instead of the centering force (d3.forceCenter). The positioning forces, unlike the centering force, prevent detached subgraphs from escaping the viewport.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('fdg') }}">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Arc</h2>
        <p>This diagram places nodes in a horizontal or vertical line, with circular arcs for links. Unlike other network visualizations such as a force layout, the appearance (and usefulness) of an arc diagram is highly dependent on the order of nodes. Hover over a node below to inspect its connections.</p>
        <p><a class="btn btn-default" href="{{ url_for('arc') }}">Learn more &raquo;</a></p>
    </div>
</div>
{% endblock %}
